/*# Generics */

/*# Header */
header {
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #FFF;
}

header .col {
  display: flex;
  align-items: center;
}

header img {
  height: 60px;
}

/*# Main */
main {
  background-color: #7FFFD3;
  padding: 60px 0;
  position: relative;
}

main #grid {
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto;
}

main #result {
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  background-color: #7fffd2c3;
  text-align: center;
}

main #result h2 {
  font-size: 50px
}

#grid .cell {
  cursor: pointer;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#grid .cell.clicked {
  background-color: #01BFFE;
}

#grid .cell.clicked.bomb{
  background-color: #E85253;
}

/* Grid modality */
#grid .cell.easy {
  width: calc(100% / 10);
  height: calc(100% / 10);
}

#grid .cell.medium {
  width: calc(100% / 9);
  height: calc(100% / 9);
}

#grid .cell.hard {
  width: calc(100% / 7);
  height: calc(100% / 7);
}

/*# Footer */
footer {
  height: 50px;
}

footer h5 {
  line-height: 50px;
}
